@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<div class="panel alert h1Header">
    <div class="  alert-success panel-body panel-default">
        <div class="text-center">
            <h1> المكروم للمقاولات والاستثمار العقارى</h1>

        </div>
    </div>
</div>