@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutFreezer.cshtml";
}
<br />
<br />
<div class="panel alert h1Header">
    <div class="alert-warning panel-body panel-danger">
        <div class="text-center">
            <h1>تـلاجات الرضـــــا</h1>

        </div>
    </div>
</div>
